lib
dist

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.yarn
docs
!docs/
!docs/dev/
!docs/dev/20260813.补齐最近qq更新的很多api捏/
!docs/dev/20260813.补齐最近qq更新的很多api捏/20260813.补齐最近qq更新的很多api捏.md
